@import "reset.css";

/* components */
@import "components/nav-bar.css";
@import "components/header.css";

/* screens */
@import "screens/quote.css";
@import "screens/todo.css";
@import "screens/main.css";


body, html{
  height: 100%;
  font-family: "Gill Sans", sans-serif;
}

.hidden {
    display: none;
  }