.header {
    display: flex;
    margin: 30px 30px;
    justify-content: space-between;
}

#login-form {
    padding-top: 15px;
}

#greeting {
    font-size: 30px;
}

#clock {
    font-size: 100px;
    color: wheat;
}

#weather {
    position:absolute;
    right: 30px;
}